:host {
  display: grid;
  width: min-content;
  grid-template-columns: repeat(9, var(--cell-size));
  grid-template-rows: repeat(9, var(--cell-size));
}

@each $i in (3, 6) {
  .cell:nth-child(9n + #{$i}) {
    border-right: 1px black solid;
  }
}

@for $i from 19 through 27 {
  .cell:nth-child(81n + #{$i}) {
    border-bottom: 1px black solid;
  }
}

@for $i from 46 through 54 {
  .cell:nth-child(81n + #{$i}) {
    border-bottom: 1px black solid;
  }
}
