.text-format {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
}

.cell-container {
  @extend .text-format;
  height: var(--cell-size);
  width: var(--cell-size);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & svg {
    position: absolute;
    z-index: -1;
    width: var(--cell-size);
    height: var(--cell-size);
    fill: #aec2ca;

    [class^="bridge"] {
      opacity: 0.7;
    }
  }

  &__active {
    svg {
      fill: #88a6af;
    }
  }

  &__hover {
    .grid-cell {
      transform: scale(1.1);
      transform-origin: center;
    }
  }

  &__selected {
    .grid-cell {
      transform: scale(1.1);
      transform-origin: center;
      fill: #778fa2;
    }
  }

  .area-sum {
    font-size: small;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: black;
    color: aliceblue;
    padding: 2px;
    border-radius: 2px;
  }
}
