:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-container {
  height: var(--cell-size);
  width: var(--cell-size);
  display: flex;
  justify-content: center;
  align-items: center;

  & svg {
    position: absolute;
    z-index: -1;
    width: var(--cell-size);
    height: var(--cell-size);
    fill: #9caf88;
  }
}
